* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.greenColor {
  color: green !important;
}

.redColor {
  color: red !important;
}
