.banner {
  background-image: url("../../images/cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.banner > h1 {
  margin: 5vmax;

  font: 600 2.5vmax "Roboto";
}

.banner > p {
  font: 300 2vmax "Lucida Sans";
}

.banner .scroll {
  font-size: 15px;
  width: 100px;
  border-radius: 55px;
}

.banner > a > button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax "Roboto";
}
.banner > a > button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}
.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 2vmax;
  border-bottom: 2px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}

.container {
  display: flex;
  flex-wrap: wrap;
  /* width: 80vw; */
  margin: 2vmax auto;
  justify-content: center;
}

.productCard {
  width: 16vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
}

.productCard > img {
  width: 16vmax;
  height: 20vmax;
}

.productCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productCardSpan {
  margin: 0.5vmax;
  font: 300 0.7vmax "Roboto";
}

.productCard > p {
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}

.productCard > span {
  margin: 0.5vmax;
  color: #000000a2;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1vmax;
}

.productCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

  transform: translateY(-1vmax);
}

/* header part */

.fashion-sale {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10%;
  background-color: #fff;
  min-height: 80vh;
  background-color: #00000007;
}

.fashion-content {
  flex: 1;
  max-width: 500px;
}

.sale-text {
  color: #e53637;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 1.2;
}

.description {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
}

.fashion-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.fashion-image img {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.shop-button {
  margin-top: 25px;
  background-color: black;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.shop-button .arrow {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.shop-button:hover .arrow {
  transform: translateX(5px);
}

@media screen and (max-width: 600px) {
  .productCard > p {
    font-size: 1.7vmax;
  }

  .productCard > div {
    margin: 0vmax;
    display: block;
  }

  .productCard > span {
    font-size: 1.5vmax;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }

  .productCard {
    width: 18vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
  }

  .productCard > img {
    width: 20vmax;
    height: 25vmax;
  }

  .homeHeading {
    font-size: 2.4vmax;
  }

  /* header part */
  .fashion-sale {
    flex-direction: column;
    text-align: center;
    padding: 60px 5%;
  }

  .fashion-content {
    max-width: 100%;
  }

  .fashion-image {
    margin-top: 30px;
  }

  .title {
    font-size: 40px;
  }

  .description {
    font-size: 16px;
  }

  .shop-button {
    margin: 25px auto;
  }
}
